---
title: Microsoft Azure Log Analytics Nozzle for PCF Release Notes
owner: Partners
---

##<a id="ver"></a> v1.0.0

**Release Date:** June 15, 2017

This is the initial release of Microsoft Azure Log Analytics Nozzle for PCF. Features included in this release:

* Automated configuration for the Microsoft Azure Log Analytics Nozzle
* Resolved Cloud Foundry application metadata (for example, app name) in logs and metrics
* Filtering for different types of logs and metrics
* Additional logging for slow consumer alerts
* Additional logging for statistics of received, sent and lost events of the nozzle
